.vlogs .heading {
  margin-bottom: 10rem;
  /* margin-top: 1; */
}
.vlogs .heading span {
  font-size: 3rem;
}

#menu {
  text-align: center;
}

.btn-package {
  width: 40rem;
}

.vlogs-border {
  margin-bottom: 40rem;
}

#mydiv {
  margin-top: -2rem;
}

#miniplayer {
  /* border: 1rem solid #29d9d5; */
  position: absolute;
  z-index: 9;
  text-align: center;
  cursor: move;
  right: 0;
  left: 35%;
  bottom: 0;
  top: 41%;
  /* margin-bottom: 25rem; */
}

#miniplayer iframe {
  border: 1rem solid #29d9d5;
  width: 50rem;
  text-align: center;
  height: 30rem;
  padding: 10px;
  z-index: 10;
}

@media (max-width: 450px) {
  #miniplayer {
    right: 0;
    left: 5%;
    bottom: 0;
    top: 40%;
  }

  .packagesBox {
    width: 40rem;
  }

  .packages-box-container {
    place-items: center;
    /* height: 500rem !important; */
  }

  #miniplayer iframe {
    width: 40rem;
  }
}
